.footer {
  //position: relative;
  //z-index: 100

}

img.element-ios-app-hand {
  bottom: 0;
  right: 7.8%;
  width: 24.4%;
  z-index: 1050;
  position: fixed;
}

.navbar-inverse {
  //position: relative;
  background-color: transparent;
  border: none;
}

a.footer-logo-menu-link {
  position: initial;
}

img.footer-logo-menu {
  position: absolute;
  width: 21%;
  right: 0;
  bottom: 0;
  float: right;
}

img.footer-logo {
  position: absolute;
  width: 10%;
  right: 2%;
  bottom: 11%;
  float: right;
}

a.footer-smpc {
  position: absolute;
  width: 6.1%;
  bottom: 4.5%;
  left: 9.0%;

  img {
    position: relative;
    width: 100%;
  }
}

a.footer-home {
  position: absolute;
  width: 3.75%;
  bottom: 4.5%;
  left: 1.1%;

  img {
    position: relative;
    width: 100%;
  }
}

a.footer-fullscreen {
  position: absolute;
  width: 3.75%;
  bottom: 4.5%;
  left: 5.1%;

  img {
    position: relative;
    width: 100%;
  }
}

img.footer-background {
  float: left;
  width: 100%;
  //background: url('../img/bg-footer.png');
}